{% include "components/head.njk" %}

<header class="header" id="top">
    <div id="themepicker" class="themepicker">
        <h2 class="themepicker-title">Choose a color theme</h2>
        <div class="themepicker-list">
            <button id="default" class="theme-button default" aria-label="Pick the Default-theme">
                <span class="theme-button-name">Default</span>
                <span class="theme-button-palette">
                    <span class="palette-preview theme-color-1"></span>
                    <span class="palette-preview theme-color-2"></span>
                    <span class="palette-preview theme-color-3"></span>
                    <span class="palette-preview theme-color-4"></span>
                </span>
            </button>
            <button id="dark" class="theme-button dark" aria-label="Pick the Dark-theme">
                <span class="theme-button-name">Dark</span>
                <span class="theme-button-palette">
                    <span class="palette-preview theme-color-1"></span>
                    <span class="palette-preview theme-color-2"></span>
                    <span class="palette-preview theme-color-3"></span>
                    <span class="palette-preview theme-color-4"></span>
                </span>
            </button>
            <button id="john-wick" class="theme-button john-wick" aria-label="Pick the John Wick-theme">
                <span class="theme-button-name">John Wick</span>
                <span class="theme-button-palette">
                    <span class="palette-preview theme-color-1"></span>
                    <span class="palette-preview theme-color-2"></span>
                    <span class="palette-preview theme-color-3"></span>
                    <span class="palette-preview theme-color-4"></span>
                </span>
            </button>
            <button id="lotr" class="theme-button lotr" aria-label="Pick the Lord of the Rings-theme">
                <span class="theme-button-name">LOTR</span>
                <span class="theme-button-palette">
                    <span class="palette-preview theme-color-1"></span>
                    <span class="palette-preview theme-color-2"></span>
                    <span class="palette-preview theme-color-3"></span>
                    <span class="palette-preview theme-color-4"></span>
                </span>
            </button>
            <button id="frozen" class="theme-button frozen" aria-label="Pick the Frozen-theme">
                <span class="theme-button-name">Frozen</span>
                <span class="theme-button-palette">
                    <span class="palette-preview theme-color-1"></span>
                    <span class="palette-preview theme-color-2"></span>
                    <span class="palette-preview theme-color-3"></span>
                    <span class="palette-preview theme-color-4"></span>
                </span>
            </button>
            <button id="drive" class="theme-button drive" aria-label="Pick the Drive-theme">
                <span class="theme-button-name">Drive</span>
                <span class="theme-button-palette">
                    <span class="palette-preview theme-color-1"></span>
                    <span class="palette-preview theme-color-2"></span>
                    <span class="palette-preview theme-color-3"></span>
                    <span class="palette-preview theme-color-4"></span>
                </span>
            </button>
            <button id="kill-bill" class="theme-button kill-bill" aria-label="Pick the Kill Bill-theme">
                <span class="theme-button-name">Kill Bill</span>
                <span class="theme-button-palette">
                    <span class="palette-preview theme-color-1"></span>
                    <span class="palette-preview theme-color-2"></span>
                    <span class="palette-preview theme-color-3"></span>
                    <span class="palette-preview theme-color-4"></span>
                </span>
            </button>
            <button id="matrix" class="theme-button matrix" aria-label="Pick the Matrix-theme">
                <span class="theme-button-name">Matrix</span>
                <span class="theme-button-palette">
                    <span class="palette-preview theme-color-1"></span>
                    <span class="palette-preview theme-color-2"></span>
                    <span class="palette-preview theme-color-3"></span>
                    <span class="palette-preview theme-color-4"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="header-content">
        <div class="header-wrapper">
            <h1 class="header-logo">
                <a href="/" class="header-logo-link">noel.<span>fun</span></a>
            </h1>
            <nav class="nav">
                <a class="nav-link icon icon--arrow-downward" href="#about">About</a>
            </nav>
            <button id="themepickerToggle" class="themepicker-toggle" aria-label="Choose a color theme"></button>
        </div>
    </div>

</header>

<main class="main">
    <div class="main-content">
        <p class="tagline">Share a fun fact with your friends!</p>
        <div class="search">
            <div class="search-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path fill="currentColor"
                          d="M18.031 16.617l4.283 4.282-1.415 1.415-4.282-4.283A8.96 8.96 0 0 1 11 20c-4.968 0-9-4.032-9-9s4.032-9 9-9 9 4.032 9 9a8.96 8.96 0 0 1-1.969 5.617zm-2.006-.742A6.977 6.977 0 0 0 18 11c0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7a6.977 6.977 0 0 0 4.875-1.975l.15-.15z" />
                </svg>
                <input id="filterSearch" type="text" placeholder="Search for a fact..." />
                
            </div>
            <p>Showing <span id="filterNumOf">104</span> of <span id="filterNumTot">104</span> facts</p>
            <p class="empty-state" id="filterEmptyState">
                (¬_¬ )
            </p>
        </div>
        <div class="facts" id="factList">
            {% set postslist = collections.sortAlphabetically %}
            {% for post in postslist %}
                <div class="fact">
                    <h2 class="fact-title">
                        {% if post.data.title %}
                            #{{ post.data.title }}
                        {% else %}
                        {% endif %}
                    </h2>
                    {% if post.data.fact %}
                        <p class="fact-info">
                            {{ post.data.fact | safe }}
                        </p>
                        <a href="https://twitter.com/share?text=Fun fact: &quot;{{ post.data.fact | safe }}&quot; From: &url=noel.fun" target="_blank" rel="noopener" class="fact-source-link icon icon--arrow-forward">Share on Twitter</a>

                    {% endif %}

                    {% if post.data.badge %}
                        <span class="fact-badge">Classic go-to</span>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="facts-actions">
                <button class="button button--unfold" id="factListToggle">View all facts</button>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="section-content">
            <h1 id="about" class="section-title">About</h1>
            <div class="md-content">
                {{ content | safe }}
            </div>
        </div>
        <div class="section-footer">
            <a href="#top" class="icon icon--arrow-upward">Back to top</a>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="footer-content md-content">
        <p>Made with <a href="https://www.11ty.dev/">11ty</a>. View on <a href="https://github.com/havardob/noel">Github</a>. Color theme switcher inspired by <a href="https://mxb.dev/blog/color-theme-switcher/">Max Böck</a>
        </p>
    </div>
</footer>
{% include "components/foot.njk" %} 