<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
        <meta name="referrer" content="origin-when-cross-origin" />
        <meta name="description" content="Share a fun fact with your friends!">
        <meta name="author" content="Håvard Brynjulfsen">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ '/css/styles.css' | url }}" />

        <meta name="theme-color" content="#ffffff">
        <link rel="icon" href="{{ '/img/favicon.svg' | url }}">
        <link rel="mask-icon" href="{{ '/img/favicon.svg' | url }}" color="#000000">
        <link rel="apple-touch-icon" href="{{ '/img/apple-touch-icon.png' | url }}">
        <title>Noel's Fun Facts — Become Fun At Parties</title>

    </head>
    <body>