<!DOCTYPE html>
<html lang="en-US">

    <head>
        <title>Noel's Fun Facts — Become Fun At Parties</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="referrer" content="origin-when-cross-origin" />
        <meta name="description" content="Share a fun fact with your friends!">
        <meta name="author" content="Håvard Brynjulfsen">
        <meta property="og:title" content="Noel's Fun Facts">
        <meta property="og:description" content="Share a fun fact with your friends!">
        <meta property="og:image" content="https://noel.fun/img/fb-twitter-share.png" />
        <meta property="og:url" content="https://noel.fun">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="google-site-verification" content="YSZIB36kF1nc1lCOt2JOyJaMcq-ywxHKjCGA60Js4QI" />
        <meta name="theme-color" content="#ffffff">
        <link rel="icon" href="{{ '/img/favicon.svg' | url }}">
        <link rel="mask-icon" href="{{ '/img/favicon.svg' | url }}" color="#000000">
        <link rel="apple-touch-icon" href="{{ '/img/apple-touch-icon.png' | url }}">
        <link rel="manifest" href="manifest.json">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ '/css/styles.css' | url }}" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76533853-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-76533853-2');
        </script>
        
    </head>
    <body>
        <a href="https://onepagelove.com/noels-fun-facts" class="opl-ribbon"><img width="73" height="56" src="img/one-page-love-award-ribbon-left.svg" alt="One Page Love Award"></a>